<a href="https://colab.research.google.com/github/HanRunbing/Tool_boxes/blob/main/pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# read table

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/coding_practise/pandas/for_pandas.csv")
df.head()

,gene,x,y,CellID,molecule_id,prior_segmentation,confidence,cluster,cell,assignment_confidence,is_noise,ncv_color
0,Blank1,657.1875,545.5883,0,1,0,1.00000,4,96,0.86,False,#004E6C
1,Blank1,1381.1803,501.9861,7343,2,0,1.00000,4,392,0.98,False,#004C84
2,Blank1,455.9304,601.8786,0,3,0,0.92142,3,0,0.76,True,#78B270
3,Blank1,455.7201,1317.7398,19090,4,0,0.99994,4,391,0.96,False,#003C60
4,Blank1,1150.4111,1104.0750,0,5,0,0.99994,3,314,0.74,False,#468658

## select specific col as the index col

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/coding_practise/for_pandas.csv",index_col = 0)
df.head()

,x,y,CellID,molecule_id,prior_segmentation,confidence,cluster,cell,assignment_confidence,is_noise,ncv_color
gene,,,,,,,,,,,
Blank1,657.1875,545.5883,0,1,0,1.00000,4,96,0.86,False,#004E6C
Blank1,1381.1803,501.9861,7343,2,0,1.00000,4,392,0.98,False,#004C84
Blank1,455.9304,601.8786,0,3,0,0.92142,3,0,0.76,True,#78B270
Blank1,455.7201,1317.7398,19090,4,0,0.99994,4,391,0.96,False,#003C60
Blank1,1150.4111,1104.0750,0,5,0,0.99994,3,314,0.74,False,#468658

## change specific row names as header

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/coding_practise/for_pandas.csv",header = 0)
df.head()

,gene,x,y,CellID,molecule_id,prior_segmentation,confidence,cluster,cell,assignment_confidence,is_noise,ncv_color
0,Blank1,657.1875,545.5883,0,1,0,1.00000,4,96,0.86,False,#004E6C
1,Blank1,1381.1803,501.9861,7343,2,0,1.00000,4,392,0.98,False,#004C84
2,Blank1,455.9304,601.8786,0,3,0,0.92142,3,0,0.76,True,#78B270
3,Blank1,455.7201,1317.7398,19090,4,0,0.99994,4,391,0.96,False,#003C60
4,Blank1,1150.4111,1104.0750,0,5,0,0.99994,3,314,0.74,False,#468658

# view dataframe

## check the datatype for each col

In [ ]:
df.dtypes

gene                      object
x                        float64
y                        float64
CellID                     int64
molecule_id                int64
prior_segmentation         int64
confidence               float64
cluster                    int64
cell                       int64
assignment_confidence    float64
is_noise                    bool
ncv_color                 object
dtype: object

## check the index and columns

In [ ]:
df.index

RangeIndex(start=0, stop=499, step=1)

In [ ]:
df.columns

Index(['gene', 'x', 'y', 'CellID', 'molecule_id', 'prior_segmentation',
       'confidence', 'cluster', 'cell', 'assignment_confidence', 'is_noise',
       'ncv_color'],
      dtype='object')

 ## describe() shows a quick statistic summary of your data:

In [ ]:
df.describe()

,x,y,CellID,molecule_id,prior_segmentation,confidence,cluster,cell,assignment_confidence
count,499.000000,499.000000,499.000000,499.000000,499.0,499.000000,499.000000,499.000000,499.000000
mean,1021.664794,1036.911895,9219.236473,250.000000,0.0,0.951108,3.537074,265.354709,0.871543
std,365.302746,435.766694,9034.610515,144.193157,0.0,0.198178,0.937895,119.073129,0.187993
min,146.999700,88.326000,0.000000,1.000000,0.0,0.000000,1.000000,0.000000,0.080000
25%,719.471350,686.839800,0.000000,125.500000,0.0,0.999940,4.000000,217.000000,0.800000
50%,1016.099500,1083.675900,7716.000000,250.000000,0.0,1.000000,4.000000,283.000000,0.980000
75%,1320.403600,1409.605850,17641.000000,374.500000,0.0,1.000000,4.000000,368.000000,1.000000
max,1672.305600,1696.980800,25220.000000,499.000000,0.0,1.000000,4.000000,747.000000,1.000000

## count the the value in one col as series

In [ ]:
df['gene'].value_counts()

Blank10    379
Blank1     120
Name: gene, dtype: int64

## check the na

In [ ]:
df.isnull().sum()

gene                     0
x                        0
y                        0
CellID                   0
molecule_id              0
prior_segmentation       0
confidence               0
cluster                  0
cell                     0
assignment_confidence    0
is_noise                 0
ncv_color                0
dtype: int64

In [ ]:
df.isnull().any()

gene                     False
x                        False
y                        False
CellID                   False
molecule_id              False
prior_segmentation       False
confidence               False
cluster                  False
cell                     False
assignment_confidence    False
is_noise                 False
ncv_color                False
dtype: bool

# Change the dataframe

## Transposing your data

In [ ]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,489,490,491,492,493,494,495,496,497,498
gene,Blank1,Blank1,Blank1,Blank1,Blank1,Blank1,Blank1,Blank1,Blank1,Blank1,...,Blank10,Blank10,Blank10,Blank10,Blank10,Blank10,Blank10,Blank10,Blank10,Blank10
x,657.1875,1381.1803,455.9304,455.7201,1150.4111,1423.4506,731.2832,1638.237,743.2703,714.6695,...,1097.6959,855.22,630.9701,1202.6356,884.662,1442.7982,779.7924,1327.8342,1428.0772,829.4232
y,545.5883,501.9861,601.8786,1317.7398,1104.075,662.2347,476.4697,1229.6241,1500.6307,859.1456,...,700.1588,659.9915,701.9814,1205.7901,1394.7797,1615.0339,828.1614,932.1197,1660.5989,976.0023
CellID,0,7343,0,19090,0,0,6716,0,22179,0,...,10145,9730,10045,17634,20465,23953,11886,0,24830,13816
molecule_id,1,2,3,4,5,6,7,8,9,10,...,490,491,492,493,494,495,496,497,498,499
prior_segmentation,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
confidence,1.0,1.0,0.92142,0.99994,0.99994,1.0,1.0,1.0,1.0,1.0,...,1.0,0.99968,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
cluster,4,4,3,4,3,4,4,4,4,4,...,4,4,4,4,4,4,1,2,4,4
cell,96,392,0,391,314,251,96,368,298,120,...,230,120,120,314,298,388,0,293,388,283
assignment_confidence,0.86,0.98,0.76,0.96,0.74,0.68,0.78,0.98,0.98,0.7,...,0.92,1.0,1.0,1.0,1.0,1.0,1.0,0.98,0.96,0.46
is_noise,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
ncv_color,#004E6C,#004C84,#78B270,#003C60,#468658,#003FA3,#00373B,#00405A,#0041B0,#006D82,...,#265545,#003D7B,#00312E,#004E55,#003E5F,#006241,#6A9D65,#AFDB74,#003E36,#453F38

## sort dataframe

### sort by the index number

In [ ]:
df_0 = df.copy()
df_0.index = df_0['cell']
df_0.sort_index(axis = 0, ascending = False).head()  # sort for the row

,gene,x,y,CellID,molecule_id,prior_segmentation,confidence,cluster,cell,assignment_confidence,is_noise,ncv_color
cell,,,,,,,,,,,,
747,Blank10,1492.0785,1254.7900,18502,405,0,1.00000,2,747,0.08,False,#BCD276
622,Blank10,1672.3056,1278.2735,18978,365,0,1.00000,2,622,0.14,False,#AAE795
605,Blank1,1636.9051,378.6101,0,39,0,0.99990,2,605,0.88,False,#DAE9A6
517,Blank1,1584.8208,1184.2694,0,32,0,1.00000,2,517,0.96,False,#77FBB0
435,Blank10,1266.8472,91.3403,1188,354,0,0.99943,4,435,1.00,False,#005B68

In [ ]:
df_0.sort_index(axis = 1, ascending = False).head() # sort for the column

,y,x,prior_segmentation,ncv_color,molecule_id,is_noise,gene,confidence,cluster,cell,assignment_confidence,CellID
cell,,,,,,,,,,,,
96,545.5883,657.1875,0,#004E6C,1,False,Blank1,1.00000,4,96,0.86,0
392,501.9861,1381.1803,0,#004C84,2,False,Blank1,1.00000,4,392,0.98,7343
0,601.8786,455.9304,0,#78B270,3,True,Blank1,0.92142,3,0,0.76,0
391,1317.7398,455.7201,0,#003C60,4,False,Blank1,0.99994,4,391,0.96,19090
314,1104.0750,1150.4111,0,#468658,5,False,Blank1,0.99994,3,314,0.74,0

### sort by the value of one column

In [ ]:
 df_0.sort_values(by = 'cluster')

,gene,x,y,CellID,molecule_id,prior_segmentation,confidence,cluster,cell,assignment_confidence,is_noise,ncv_color
cell,,,,,,,,,,,,
112,Blank10,1027.6660,155.9725,1744,122,0,1.00000,1,112,0.92,False,#A8EB95
0,Blank10,322.8806,213.1040,0,240,0,0.00017,1,0,1.00,True,#155440
392,Blank10,1360.2204,517.3380,7342,200,0,0.99962,1,392,0.98,False,#BABB5D
0,Blank10,437.2137,170.7636,1594,124,0,0.01665,1,0,1.00,True,#00507C
0,Blank10,331.8534,855.5004,12152,158,0,0.00568,1,0,1.00,True,#38413D
...,...,...,...,...,...,...,...,...,...,...,...,...
143,Blank10,1041.8262,520.9131,7262,477,0,1.00000,4,143,0.92,False,#004C50
217,Blank10,578.7456,897.3501,12954,478,0,1.00000,4,217,0.52,False,#003372
283,Blank10,1074.1423,1054.1638,15021,479,0,1.00000,4,283,1.00,False,#005F50
298,Blank10,751.6122,1468.5950,21310,127,0,1.00000,4,298,1.00,False,#00659F
283,Blank10,829.4232,976.0023,13816,499,0,1.00000,4,283,0.46,False,#453F38

## Edit the col/index name

###  change specific col name

In [ ]:
df_1 = df.copy()
df_1.rename(columns={'x':'X','y':'Y'})

,gene,X,Y,CellID,molecule_id,prior_segmentation,confidence,cluster,cell,assignment_confidence,is_noise,ncv_color
0,Blank1,657.1875,545.5883,0,1,0,1.00000,4,96,0.86,False,#004E6C
1,Blank1,1381.1803,501.9861,7343,2,0,1.00000,4,392,0.98,False,#004C84
2,Blank1,455.9304,601.8786,0,3,0,0.92142,3,0,0.76,True,#78B270
3,Blank1,455.7201,1317.7398,19090,4,0,0.99994,4,391,0.96,False,#003C60
4,Blank1,1150.4111,1104.0750,0,5,0,0.99994,3,314,0.74,False,#468658
...,...,...,...,...,...,...,...,...,...,...,...,...
494,Blank10,1442.7982,1615.0339,23953,495,0,1.00000,4,388,1.00,False,#006241
495,Blank10,779.7924,828.1614,11886,496,0,0.00000,1,0,1.00,True,#6A9D65
496,Blank10,1327.8342,932.1197,0,497,0,1.00000,2,293,0.98,False,#AFDB74
497,Blank10,1428.0772,1660.5989,24830,498,0,1.00000,4,388,0.96,False,#003E36
498,Blank10,829.4232,976.0023,13816,499,0,1.00000,4,283,0.46,False,#453F38

### change the whole col into capital

In [ ]:
df_1.colunms = [x.upper() for x in df_1.columns]
df_1

,GENE,X,Y,CELLID,MOLECULE_ID,PRIOR_SEGMENTATION,CONFIDENCE,CLUSTER,CELL,ASSIGNMENT_CONFIDENCE,IS_NOISE,NCV_COLOR
0,Blank1,657.1875,545.5883,0,1,0,1.00000,4,96,0.86,False,#004E6C
1,Blank1,1381.1803,501.9861,7343,2,0,1.00000,4,392,0.98,False,#004C84
2,Blank1,455.9304,601.8786,0,3,0,0.92142,3,0,0.76,True,#78B270
3,Blank1,455.7201,1317.7398,19090,4,0,0.99994,4,391,0.96,False,#003C60
4,Blank1,1150.4111,1104.0750,0,5,0,0.99994,3,314,0.74,False,#468658
...,...,...,...,...,...,...,...,...,...,...,...,...
494,Blank10,1442.7982,1615.0339,23953,495,0,1.00000,4,388,1.00,False,#006241
495,Blank10,779.7924,828.1614,11886,496,0,0.00000,1,0,1.00,True,#6A9D65
496,Blank10,1327.8342,932.1197,0,497,0,1.00000,2,293,0.98,False,#AFDB74
497,Blank10,1428.0772,1660.5989,24830,498,0,1.00000,4,388,0.96,False,#003E36
498,Blank10,829.4232,976.0023,13816,499,0,1.00000,4,283,0.46,False,#453F38

### change the index name

In [ ]:
df_2 = df.copy()
df_2.index = df_2['gene']  # this will cause the index replicate in the frame
df_2.head()

,gene,x,y,CellID,molecule_id,prior_segmentation,confidence,cluster,cell,assignment_confidence,is_noise,ncv_color
gene,,,,,,,,,,,,
Blank1,Blank1,657.1875,545.5883,0,1,0,1.00000,4,96,0.86,False,#004E6C
Blank1,Blank1,1381.1803,501.9861,7343,2,0,1.00000,4,392,0.98,False,#004C84
Blank1,Blank1,455.9304,601.8786,0,3,0,0.92142,3,0,0.76,True,#78B270
Blank1,Blank1,455.7201,1317.7398,19090,4,0,0.99994,4,391,0.96,False,#003C60
Blank1,Blank1,1150.4111,1104.0750,0,5,0,0.99994,3,314,0.74,False,#468658

In [ ]:
##instead use the set_index
df_2.set_index('gene')

,x,y,CellID,molecule_id,prior_segmentation,confidence,cluster,cell,assignment_confidence,is_noise,ncv_color
gene,,,,,,,,,,,
Blank1,657.1875,545.5883,0,1,0,1.00000,4,96,0.86,False,#004E6C
Blank1,1381.1803,501.9861,7343,2,0,1.00000,4,392,0.98,False,#004C84
Blank1,455.9304,601.8786,0,3,0,0.92142,3,0,0.76,True,#78B270
Blank1,455.7201,1317.7398,19090,4,0,0.99994,4,391,0.96,False,#003C60
Blank1,1150.4111,1104.0750,0,5,0,0.99994,3,314,0.74,False,#468658
...,...,...,...,...,...,...,...,...,...,...,...
Blank10,1442.7982,1615.0339,23953,495,0,1.00000,4,388,1.00,False,#006241
Blank10,779.7924,828.1614,11886,496,0,0.00000,1,0,1.00,True,#6A9D65
Blank10,1327.8342,932.1197,0,497,0,1.00000,2,293,0.98,False,#AFDB74
Blank10,1428.0772,1660.5989,24830,498,0,1.00000,4,388,0.96,False,#003E36
Blank10,829.4232,976.0023,13816,499,0,1.00000,4,283,0.46,False,#453F38

# select data

## Getting

In [ ]:
df[0:3]  # for row selection

,gene,x,y,CellID,molecule_id,prior_segmentation,confidence,cluster,cell,assignment_confidence,is_noise,ncv_color
0,Blank1,657.1875,545.5883,0,1,0,1.00000,4,96,0.86,False,#004E6C
1,Blank1,1381.1803,501.9861,7343,2,0,1.00000,4,392,0.98,False,#004C84
2,Blank1,455.9304,601.8786,0,3,0,0.92142,3,0,0.76,True,#78B270

In [ ]:
df[52:56]  # [] seems only works for row selection

,gene,x,y,CellID,molecule_id,prior_segmentation,confidence,cluster,cell,assignment_confidence,is_noise,ncv_color
52,Blank1,576.7127,1054.7246,0,53,0,0.99997,1,217,0.58,False,#B2A33F
53,Blank1,1275.3293,667.8427,0,54,0,1.00000,2,251,0.88,False,#BFEFB4
54,Blank1,729.2503,329.1195,4606,55,0,1.00000,4,93,0.54,False,#00649F
55,Blank1,1567.8566,1203.7572,17227,56,0,1.00000,3,358,0.78,False,#D3D387

## selection by label (index (rownames) or header(colnames) )

In [ ]:
df_2.loc['Blank1']  # select by loc via index name per row

,gene,x,y,CellID,molecule_id,prior_segmentation,confidence,cluster,cell,assignment_confidence,is_noise,ncv_color
gene,,,,,,,,,,,,
Blank1,Blank1,657.1875,545.5883,0,1,0,1.00000,4,96,0.86,False,#004E6C
Blank1,Blank1,1381.1803,501.9861,7343,2,0,1.00000,4,392,0.98,False,#004C84
Blank1,Blank1,455.9304,601.8786,0,3,0,0.92142,3,0,0.76,True,#78B270
Blank1,Blank1,455.7201,1317.7398,19090,4,0,0.99994,4,391,0.96,False,#003C60
Blank1,Blank1,1150.4111,1104.0750,0,5,0,0.99994,3,314,0.74,False,#468658
...,...,...,...,...,...,...,...,...,...,...,...,...
Blank1,Blank1,831.8767,529.8158,0,116,0,1.00000,2,143,0.94,False,#CCD27F
Blank1,Blank1,873.3759,1211.1177,17533,117,0,0.99996,2,276,0.98,False,#B3D67B
Blank1,Blank1,1614.1226,1479.1801,21964,118,0,1.00000,4,388,0.98,False,#00409D
Blank1,Blank1,622.4880,1385.1059,19951,119,0,1.00000,4,298,1.00,False,#005A47
Blank1,Blank1,1410.4821,1530.5634,22745,120,0,1.00000,3,388,0.56,False,#EADEA3

In [ ]:
df.loc[10:13,['gene','cell']]  # first is row second is column

      gene  cell
10  Blank1   388
11  Blank1   380
12  Blank1   293
13  Blank1   388

In [ ]:
df_2.loc['Blank1',['x','y']][1:5]

                x          y
gene
Blank1  1381.1803   501.9861
Blank1   455.9304   601.8786
Blank1   455.7201  1317.7398
Blank1  1150.4111  1104.0750

### select by position

In [ ]:
df.iloc[5]  # the fifth row

gene                        Blank1
x                        1423.4506
y                         662.2347
CellID                           0
molecule_id                      6
prior_segmentation               0
confidence                     1.0
cluster                          4
cell                           251
assignment_confidence         0.68
is_noise                     False
ncv_color                  #003FA3
Name: 5, dtype: object

In [ ]:
df.iloc[:,5] # the fifth col

0      0
1      0
2      0
3      0
4      0
      ..
494    0
495    0
496    0
497    0
498    0
Name: prior_segmentation, Length: 499, dtype: int64

In [ ]:
df.iloc[1:3,5:9]

   prior_segmentation  confidence  cluster  cell
1                   0     1.00000        4   392
2                   0     0.92142        3     0

In [ ]:
df.iloc[[1,5,7,8],[1,2,5]]

           x          y  prior_segmentation
1  1381.1803   501.9861                   0
5  1423.4506   662.2347                   0
7  1638.2370  1229.6241                   0
8   743.2703  1500.6307                   0

### selection based on criteria

In [ ]:
df[df['x'] > df['y']]

,gene,x,y,CellID,molecule_id,prior_segmentation,confidence,cluster,cell,assignment_confidence,is_noise,ncv_color
0,Blank1,657.1875,545.5883,0,1,0,1.00000,4,96,0.86,False,#004E6C
1,Blank1,1381.1803,501.9861,7343,2,0,1.00000,4,392,0.98,False,#004C84
4,Blank1,1150.4111,1104.0750,0,5,0,0.99994,3,314,0.74,False,#468658
5,Blank1,1423.4506,662.2347,0,6,0,1.00000,4,251,0.68,False,#003FA3
6,Blank1,731.2832,476.4697,6716,7,0,1.00000,4,96,0.78,False,#00373B
...,...,...,...,...,...,...,...,...,...,...,...,...
478,Blank10,1074.1423,1054.1638,15021,479,0,1.00000,4,283,1.00,False,#005F50
487,Blank10,1658.2856,1452.4720,0,488,0,1.00000,4,388,0.98,False,#00484B
489,Blank10,1097.6959,700.1588,10145,490,0,1.00000,4,230,0.92,False,#265545
490,Blank10,855.2200,659.9915,9730,491,0,0.99968,4,120,1.00,False,#003D7B
496,Blank10,1327.8342,932.1197,0,497,0,1.00000,2,293,0.98,False,#AFDB74

In [ ]:
df['x','y'][1:3]

KeyError: ignored

In [ ]:
df[['x','y']][1:3]

           x         y
1  1381.1803  501.9861
2   455.9304  601.8786

# Apply

In [ ]:
df_sub = df[['x','y']]
df_sub.apply(np.cumsum)

               x            y
0       657.1875     545.5883
1      2038.3678    1047.5744
2      2494.2982    1649.4530
3      2950.0183    2967.1928
4      4100.4294    4071.2678
..           ...          ...
494  505445.6051  513022.1533
495  506225.3975  513850.3147
496  507553.2317  514782.4344
497  508981.3089  516443.0333
498  509810.7321  517419.0356

[499 rows x 2 columns]

In [ ]:
scale_fac = 0.07
df_sub.apply(lambda x: x * scale_fac)

              x           y
0     46.003125   38.191181
1     96.682621   35.139027
2     31.915128   42.131502
3     31.900407   92.241786
4     80.528777   77.285250
..          ...         ...
494  100.995874  113.052373
495   54.585468   57.971298
496   92.948394   65.248379
497   99.965404  116.241923
498   58.059624   68.320161

[499 rows x 2 columns]

# Merge

## concat

In [ ]:
df_mer = pd.read_csv("/content/drive/MyDrive/coding_practise/for_merge.csv")
df_mer.head()

,cell,x,y,cluster,n_transcripts,density,elongation,area,avg_confidence
0,1,4743.200000,417.200000,1,5,0.038910,40.230,128.5,0.9953
1,2,3821.000000,1859.166667,3,6,0.023390,3.659,256.5,0.9970
2,3,4156.222222,2376.444444,3,9,0.006618,2.946,1360.0,0.9933
3,4,2048.000000,4581.833333,3,6,0.032090,9.345,187.0,0.9921
4,5,4526.800000,2127.200000,3,20,0.003642,2.215,5492.0,0.9907

In [ ]:
# Concatenate pandas objects along a particular axis with optional set logic along the other axes. more often to use add new row the end or col in the right
A = df[['gene','x','y']]
B = df_mer[['cluster','density']]
pd.concat([A,B],axis = 1).head()  # add additional info in the right col

     gene          x          y  cluster   density
0  Blank1   657.1875   545.5883        1  0.038910
1  Blank1  1381.1803   501.9861        3  0.023390
2  Blank1   455.9304   601.8786        3  0.006618
3  Blank1   455.7201  1317.7398        3  0.032090
4  Blank1  1150.4111  1104.0750        3  0.003642

In [ ]:
pd.concat([A,B],keys = ['segmentation','cell status'],axis = 1).head()  # keys is to mark the belonings

  segmentation                       cell status
          gene          x          y     cluster   density
0       Blank1   657.1875   545.5883           1  0.038910
1       Blank1  1381.1803   501.9861           3  0.023390
2       Blank1   455.9304   601.8786           3  0.006618
3       Blank1   455.7201  1317.7398           3  0.032090
4       Blank1  1150.4111  1104.0750           3  0.003642

In [ ]:
Blank1_50 = df_2.loc['Blank1',:][1:50]
Blank10_50 = df_2.loc['Blank10',:][1:50]

In [ ]:
pd.concat([Blank1_50,Blank10_50], keys = ['Blank1_50','Blank10_50'])

                       gene          x          y  CellID  molecule_id  \
           gene
Blank1_50  Blank1    Blank1  1381.1803   501.9861    7343            2
           Blank1    Blank1   455.9304   601.8786       0            3
           Blank1    Blank1   455.7201  1317.7398   19090            4
           Blank1    Blank1  1150.4111  1104.0750       0            5
           Blank1    Blank1  1423.4506   662.2347       0            6
...                     ...        ...        ...     ...          ...
Blank10_50 Blank10  Blank10  1620.6419  1418.9642   21074          166
           Blank10  Blank10   938.4988  1468.7352       0          167
           Blank10  Blank10   784.3489   145.1070       0          168
           Blank10  Blank10  1300.4251   980.1382       0          169
           Blank10  Blank10   371.3898  1026.1939       0          170

                    prior_segmentation  confidence  cluster  cell  \
           gene
Blank1_50  Blank1                    0     1.00000        4   392
           Blank1                    0     0.92142        3     0
           Blank1                    0     0.99994        4   391
           Blank1                    0     0.99994        3   314
           Blank1                    0     1.00000        4   251
...                                ...         ...      ...   ...
Blank10_50 Blank10                   0     0.94338        1   388
           Blank10                   0     1.00000        4   313
           Blank10                   0     0.98053        4   119
           Blank10                   0     1.00000        4   293
           Blank10                   0     0.99943        4   125

                    assignment_confidence  is_noise ncv_color
           gene
Blank1_50  Blank1                    0.98     False   #004C84
           Blank1                    0.76      True   #78B270
           Blank1                    0.96     False   #003C60
           Blank1                    0.74     False   #468658
           Blank1                    0.68     False   #003FA3
...                                   ...       ...       ...
Blank10_50 Blank10                   0.68     False   #183A2D
           Blank10                   0.98     False   #005CCE
           Blank10                   0.36     False   #00569A
           Blank10                   1.00     False   #0043AD
           Blank10                   0.60     False   #004863

[98 rows x 12 columns]

## Join

In [ ]:
merged = pd.merge(df[['gene','x','y','is_noise','cell']],df_mer[['cell','cluster','density']],on = "cell")
merged.head()

      gene         x         y  is_noise  cell  cluster   density
0   Blank1  657.1875  545.5883     False    96        1  0.006276
1   Blank1  731.2832  476.4697     False    96        1  0.006276
2  Blank10  738.5736  436.3024     False    96        1  0.006276
3  Blank10  471.9132  471.4225     False    96        1  0.006276
4  Blank10  649.5466  505.4210     False    96        1  0.006276

In [ ]:
merged['is_noise'].unique()

array([False])

In [ ]:
merged['is_noise'][5:200]  = ['True'] * 195

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
merged['is_noise'][5:200]

5      True
6      True
7      True
8      True
9      True
       ...
195    True
196    True
197    True
198    True
199    True
Name: is_noise, Length: 195, dtype: object

## Groupby

In [ ]:
merged.groupby('cluster').mean()

                   x            y        cell   density
cluster
1        1064.575319   920.297502  245.761905  0.006086
2         907.070633   456.467833  143.000000  0.003350
3        1024.811667  1123.919821  296.636628  0.006685
4        1363.164600  1375.081600  357.000000  0.022450

In [ ]:
merged.groupby(['is_noise','cluster']).mean()

                            x            y        cell   density
is_noise cluster
False    1         973.114430  1001.900495  238.428571  0.006623
         2         907.070633   456.467833  143.000000  0.003350
         3         908.028313  1111.843355  270.227273  0.007596
         4        1363.164600  1375.081600  357.000000  0.022450
True     1        1169.102049   827.036939  254.142857  0.005472
         3        1183.189092  1140.297495  332.452055  0.005449

## Stack

In [ ]:
df_stack = pd.read_csv("/content/drive/MyDrive/coding_practise/stack_test-i2i3.csv")
df_stack.head()

    iCMS2     iCMS3 Normal Epithelial
0    AAR2      AGR2              AQP8
1   ACOT8      AGRN            ATP8B1
2   ADRM1       AHR               CA4
3  ARID3A     ALCAM               CA7
4  ATP11A  ANKRD36C           CEACAM7

In [ ]:
stacked = df_stack.stack()
stacked

0   iCMS2                   AAR2
    iCMS3                   AGR2
    Normal Epithelial       AQP8
1   iCMS2                  ACOT8
    iCMS3                   AGRN
                          ...
70  iCMS3                 TRIM29
71  iCMS2                 ZDHHC9
    iCMS3                TSPAN13
72  iCMS3                  WARS1
73  iCMS3                  WDR24
Length: 185, dtype: object

In [ ]:
stacked.unstack()

     iCMS2     iCMS3 Normal Epithelial
0     AAR2      AGR2              AQP8
1    ACOT8      AGRN            ATP8B1
2    ADRM1       AHR               CA4
3   ARID3A     ALCAM               CA7
4   ATP11A  ANKRD36C           CEACAM7
..     ...       ...               ...
69   VMA21    TRIM16               NaN
70   YWHAB    TRIM29               NaN
71  ZDHHC9   TSPAN13               NaN
72     NaN     WARS1               NaN
73     NaN     WDR24               NaN

[74 rows x 3 columns]

In [ ]:
stack_res = stacked.to_frame()
# stack_res.columns = ['cell type','gene']
stack_res

                            0
0  iCMS2                 AAR2
   iCMS3                 AGR2
   Normal Epithelial     AQP8
1  iCMS2                ACOT8
   iCMS3                 AGRN
...                       ...
70 iCMS3               TRIM29
71 iCMS2               ZDHHC9
   iCMS3              TSPAN13
72 iCMS3                WARS1
73 iCMS3                WDR24

[185 rows x 1 columns]